
.kd-trellis {
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;

	&--image {
		aspect-ratio: 3746/424; // must match svg viewbox
		color: var(--kd-color-background-accent-primary);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: auto;
	}
}
