@use 'breakpoints.scss';

:root {
	--kd-grid-gap: 32px;
	--kd-grid-gap--half: 16px;
	--kd-grid-gap--double: 64px;
	--kd-grid-gap--negative: -32px;
	--kd-grid-gap--negative-half: -16px;
	--kd-grid-gap--negative-double: -64px;
	--kd-grid-max-width: 100%;

	@media (min-width: breakpoints.$bp-max) {
		--kd-grid-max-width: #{breakpoints.$bp-max};
	}
}
