:root {
	--kd-z-negative: -1;
	--kd-z-below-default: 0;
	--kd-z-default: 1;
	--kd-z-above-default: 2;
	--kd-z-language-navigation: 3;
	--kd-z-page-navigation: 3;
	--kd-z-persitent-cta: 3;
	--kd-z-header: 4;
	--kd-z-page-navigation-sticky: 4;
	--kd-z-page-progress-bar: 4;
	--kd-z-modal-overlay: 6;
	--kd-z-modal-content: 7;
}
